<html>
    <head>
        <title>Poster - NodeJs</title>
        <link rel="stylesheet" href="main.css">

    </head>
    <body>
        <div class='hero-layout'>
            <div class='hero-cover'></div>            
            <div class='hero-login'>
                <div class='hero-login-card'>
                    <img src='./img/poster-logo-dark.png'>
                    <form method="POST" action='/createSession'>
                        <input type='email' name='s_email' placeholder="Enter Email">
                        <input type='password' name='password' placeholder="Enter Password">
                        <div class=''>
                            <button type='submit' name='s_login'>Login</button>
                            <button type='submit' name='s_forgotPassword'>Forgot Password</button>
                        </div>
                        <a href="/signup">Don't have an account? SignUp now</a>
                    </form>
                </div>
            </div>
        </div>
    </body>
</html>